---
import { SunIcon, MoonIcon } from '@radix-ui/react-icons'
---

<button
  id="theme-toggle"
  class="inline-flex items-center justify-center rounded-md w-9 h-9 px-0 transition-colors hover:bg-accent hover:text-accent-foreground fixed top-3 right-3 bg-background text-foreground"
  aria-label="Toggle theme"
>
  <SunIcon
    className="h-[1.2rem] w-[1.2rem] rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0"
  />
  <MoonIcon
    className="absolute h-[1.2rem] w-[1.2rem] rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100"
  />
  <span class="sr-only">Toggle theme</span>
</button>

<script>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  })()

  if (theme === 'light') {
    document.documentElement.classList.remove('dark')
  } else {
    document.documentElement.classList.add('dark')
  }

  window.localStorage.setItem('theme', theme!)

  document.addEventListener('astro:after-swap', () => {
    if (localStorage.theme === 'dark') {
      document.documentElement.classList.add('dark')
    }
    if (localStorage.theme === 'light') {
      document.documentElement.classList.remove('dark')
    }
  })

  const themeToggle = document.getElementById('theme-toggle')
  themeToggle?.addEventListener('click', () => {
    const element = document.documentElement
    element.classList.toggle('dark')

    const isDark = element.classList.contains('dark')
    localStorage.setItem('theme', isDark ? 'dark' : 'light')
  })
</script>
