---
import { cn } from '@/lib/utils'

export interface CardHeaderProps extends astroHTML.JSX.HTMLAttributes {
  class?: string
}

const { class: className, ...rest } = Astro.props
const headerClasses = cn('flex flex-col space-y-1.5 p-6', className)
---

<div class={headerClasses} {...rest}>
  <slot />
</div>
