---
import { cn } from '@/lib/utils'

export interface Props extends astroHTML.JSX.LabelHTMLAttributes {
  class?: string
}

const { class: className, ...rest } = Astro.props

const labelClasses = cn(
  'text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70',
  className
)
---

<label class={labelClasses} {...rest}>
  <slot />
</label>
